.appframe {
  border-radius: 30px;
  height: 100px;
  width: 100px;
  
}

body {
  background-image: linear-gradient(to bottom right, rgb(78, 78, 236),rgba(119, 119, 127, 0.837));
}

h1 {
  font-family: 'Anton', sans-serif;
}