@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.gameappframe {
  border-radius: 25%;
  width: 200px;
  height: 200px;
  float: left;
  background: gray;
}
.appframe {
  border-radius: 25%;
  width: 200px;
  height: 200px;
  float: left;
}
.pageframe {
  border-radius: 25%;
  width: 400px;
  height: 400px;
  float: left;
}
h1{
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
  color: white;
}

body{
  background: rgb(94,90,163);
  background: linear-gradient(219deg, rgba(94,90,163,1) 0%, rgba(122,9,12,1) 46%, rgba(0,212,255,1) 100%);
}
h1 {
  font-family: 'Russo One', sans-serif;
}
.topnav {
  color: white;
  display: inline-block;
  padding: 15px;
  line-height: 100%;
  font-family: 'Russo One', sans-serif;
  -moz-border-radius: 1%;
  border-radius: 1%;
  background-color: gray;
  text-align: center;
  font-size: 2em;
}
a:any-link{
  color: white;
}
.games {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;}
  .pages {  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;}
.gameslist {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.row {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.betaappframe {  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: gray;
  font-family: 'Russo One', sans-serif;
  grid-template-columns: repeat(4, 60px);
}

.newgames{
  background-color: black;
}
.coolannouncement{
  font-family: 'Russo One', sans-serif;
  font-size: 5em;
}
